<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Огонь!</title>
	<link rel="shortcut icon" href="/favicon.ico"/>
	<!-- это можно выкинуть и заменить своими стилями -->
	<link rel="stylesheet" type="text/css" href="/styles.css">
	<!-- например, можно заюзать Bootstrap: -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<p>Оно работает!<br/> Полдела сделано :)</p>
<p><strong>Дано:</strong> сервер, который умеет API из одного вызова.<br/>
	На входе одна фраза (вопрос), на выходе другая (ответ).<br/> Действующий макет:</p>
<form
		class="form-inline"
		onsubmit="$.post('/api/get-answer', {q: this.q.value}).done(function(resp) {
      if (resp.ok) {
        alert(resp.a)
      } else {
        console.log('ERR:', resp.error);
      }
    }); return false">
	<input name="q" type="text" placeholder="Введите вопрос" autofocus>
	<button type="submit">Узнать ответ</button>
	<div>
		<small>На одинаковые вопросы будут одинаковые ответы</small>
	</div>
</form>
<p><strong>Что надо:</strong> сделать из этого &uarr; убожества <em>няшный прототип</em> чатика на
	двоих (вопрос-ответ, вопрос-ответ).</p>
<ul>
	<li>
		«няшный» означает, что вам самим должно понравиться то, что получилось: маленькое,
		симпатичное, так и хочется кому-то ещё показать;
	</li>
	<li>
		«прототип» означает, что вы не потратите на это слишком много времени.
		Сами решайте, что надо сделать обязательно, а что можно и выкинуть.
	</li>
</ul>
<p>Важно: получившаяся страница должна выглядеть пусть и минималистично, но цельно
	и самодостаточно. Примеры цельности, самодостаточности и минимализма:
	<a href="https://ya.ru/">ya.ru</a>, <a href="https://telegra.ph/">telegra.ph</a></p>
<p>
	<small>Примечание: сервер уже есть, его трогать не надо. В частности,
		не надо его переписывать на Node.js. Его надо просто использовать.
		А вот фронтенд можно и нужно переработать.
	</small>
</p>
<p>В качестве образца того, как выглядит и как работает чатик, можно взять
	любой мессенджер, любую соцсеть, любой продающий чат-консультант
	(вы на нашем сайте уже 3 секунды. Чем могу помочь?). Короче, собственный опыт и здравый смысл.</p>
<p>Решение должно использовать:</p>
<ul>
	<li>Vue.js</li>
	<li>Bootstrap либо свою вёрстку</li>
	<li>SASS, LESS, PostCSS и т.п. можно</li>
	<li>ES6, ES7 можно</li>
	<li>jQuery, если по какой-то причине потребуется, можно</li>
</ul>

<p>Нельзя использовать CoffeeScript.<br/>
	Про остальное лучше посоветоваться.</p>

<p>...и чем меньше кода будет, тем лучше:</p>
<p><img src="errors.jpg"></p>

<div id="app" class="">
	<div class="card chat" :class="{
		'card': true,
		'chat': true,
		'chat-closed': expanded
	}">
		<div class="chat__title">
			<h5 class="card-title">{{ title }}</h5>
			<button type="button" @click="toggleChat" class="btn chat__title--btn btn-secondary btn-sm">{{ toggleState
				}}
			</button>
		</div>
		<div v-bar="{
		    preventParentScroll: true,
		    scrollThrottle: 30,
		}">

			<div class="chat__dialogs">
				<transition-group name="fade" tag="p">
					<div v-for="(dialog,index) in dialogs" :class="{
				'chat__dialogs--dialog': true,
				'chat__dialogs--dialog-bot': dialog.owner === OWNER_BOT,
				'chat__dialogs--dialog-user': dialog.owner === OWNER_USER,
			}" :key="`dialog-${index}`">

						<div v-if="dialog.owner === OWNER_BOT && index" class="chat__dialogs--owner text-sm-left">
							<strong>Ответ:</strong>
							<small>{{ dialog.time }}</small>
						</div>
						<div v-else-if="dialog.owner === OWNER_BOT && !index" class="chat__dialogs--owner text-sm-left">
							<strong>Приветствие:</strong>
						</div>
						<div v-else class="chat__dialogs--owner text-sm-right">
							<small>{{ dialog.time }}</small>
							<strong>Вопрос:</strong>
						</div>

						<div :class="{
							'text-sm-right': dialog.owner === OWNER_USER,
							'text-sm-left': dialog.owner === OWNER_BOT
						}">
							{{ dialog.text }}
						</div>
					</div>
				</transition-group>
			</div>

		</div>
		<div :class="{
			'chat__sender--animation': !expanded,
			'fade': expanded,
			'in': expanded,
			'out': !expanded
		}">
			<form class="chat__sender--area" @submit.prevent>
				<div class="form-row align-items-center">
					<div class="col-sm-10 my-1">
						<input type="text" v-on:keyup.enter="sendRequest" v-model="question" autocomplete="off"
						       class="form-control" id="userMessage"
						       placeholder="Задай вопрос">
					</div>
					<div class="col-sm-2 my-1 text-sm-right">
						<button type="button" @click="sendRequest" class="btn btn-primary btn-block">></button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<!-- jQuery совершенно не обязателен. Вообще, весь этот файл дан просто для примера -->
<script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://unpkg.com/vuebar"></script>
<script src="/scripts/vue.js"></script>
<script src="/scripts/main.js"></script>


</body>
</html>
