body {
    font-family: sans-serif;
    line-height: 1.7;
    padding: 1rem 10%;
    background: #fff;
}

form {
    background: #eee;
    padding: 1rem;
    display: inline-block;
}

em {
    font-weight: bold;
}
/* визуал чатбота */
.chat {
    overflow: hidden;
    position: fixed !important;
    display: block;
    top: 15px;
    right: 15px;
    width: 300px;
    height: 500px;
    -webkit-transition: height .3s ease-out 0.2s;
    -moz-transition: height .3s ease-out 0.2s;
    -o-transition: height .3s ease-out 0.2s;
    transition: height .3s ease-out 0.2s;
}

.chat-closed {
    height: 50px;
    -webkit-transition: height .3s ease-out 0.2s;
    -moz-transition: height .3s ease-out 0.2s;
    -o-transition: height .3s ease-out 0.2s;
    transition: height .3s ease-out 0.2s;
}

.chat__title {
    padding: 15px 15px 5px 15px;
    z-index: 1;
    border-bottom: 1px solid lightgray;
}

.chat__title--btn {
    position: absolute;
    right: 10px;
    top: 10px;
}

.chat__dialogs--owner {
    display: flex;
    justify-content: space-between;
}

.chat__sender--area {
    background-color: #666666;
    display: flex;
    align-self: flex-start;
    justify-content: space-around;
    bottom: 0;
    padding: 5px;
}

.chat__sender--animation {
    transition: opacity 0.9s linear;
}

.chat__dialogs {
    padding: 5px;
    background-color: rgba(240,240,240, 1);
}

.chat__dialogs--dialog {
    display: block;
    position: relative;
    width: 100%;
    border-radius: 10px;
    min-height: 30px;
    margin-bottom: 20px;
    padding: 10px;
}

.chat__dialogs--dialog-user {
    background: white;
}

.chat__dialogs--dialog-bot {
    background: rgba(0, 123, 255, .1);
}

.chat__dialogs--dialog-bot:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 10px;
    bottom:-10px;
    border: 5px solid;
    border-color: rgba(0, 123, 255, .1) transparent transparent rgba(0, 123, 255, .1);
}
.chat__dialogs--dialog-user:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    right: 10px;
    bottom:-10px;
    border: 5px solid;
    border-color: white white transparent transparent ;
}
/* Настройка скрола */
.vb {
    height: 100%;
}

.vb > .vb-dragger {
    z-index: 5;
    width: 12px;
    right: 0;
}

.vb > .vb-dragger > .vb-dragger-styler {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: rotate3d(0,0,0,0);
    transform: rotate3d(0,0,0,0);
    -webkit-transition:
            background-color 100ms ease-out,
            margin 100ms ease-out,
            height 100ms ease-out;
    transition:
            background-color 100ms ease-out,
            margin 100ms ease-out,
            height 100ms ease-out;
    background-color: rgba(48, 121, 244,.1);
    margin: 5px 5px 5px 0;
    border-radius: 20px;
    height: calc(100% - 10px);
    display: block;
}

.vb.vb-scrolling-phantom > .vb-dragger > .vb-dragger-styler {
    background-color: rgba(48, 121, 244,.3);
}

.vb > .vb-dragger:hover > .vb-dragger-styler {
    background-color: rgba(48, 121, 244,.5);
    margin: 0px;
    height: 100%;
}

.vb.vb-dragging > .vb-dragger > .vb-dragger-styler {
    background-color: rgba(48, 121, 244,.5);
    margin: 0px;
    height: 100%;
}

.vb.vb-dragging-phantom > .vb-dragger > .vb-dragger-styler {
    background-color: rgba(48, 121, 244,.5);
}
/* анимация появления */
.fade-enter-active,
.fade-leave-active {
    transition: opacity .5s;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}